<div class="padded-items" fxFlex="700px" fxFlex.sm="99%" fxFlex.xs="99%" fxFlexFill fxLayout="row wrap"
     fxLayoutAlign="center center" fxLayoutGap="5px" style="padding: 5px">
    <div fxFlex="100%">
        <h1 style="text-align: center">Willkommen im Webshop</h1>
        <p>Bacon ipsum dolor amet brisket frankfurter pig, picanha ribeye shankle filet mignon meatloaf pastrami ground
            round bresaola shank ball tip doner. Pancetta beef ribs shank fatback.</p>
        <p>Landjaeger salami porchetta, pancetta pork belly ribeye sirloin shankle leberkas sausage corned beef
            hamburger cupim chuck. Chislic boudin jowl, turducken prosciutto tri-tip andouille capicola.</p>
        <hr>
        <h2 style="text-align: center">Kategorien</h2>
    </div>
    <mat-card *ngFor="let category of categories$ | async" [routerLink]="'/category/' + category.id">
        <mat-card-title>{{category.name}}</mat-card-title>
    </mat-card>
    <ec-last-viewed-by-others fxFlex="99%"></ec-last-viewed-by-others>

</div>
