<div class="article-detail-main padded-items" fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card *ngIf="order" fxFlex="666px">
        <mat-card-title>Bestellbestätigung</mat-card-title>
        <mat-card-subtitle>Bestellnummer: {{order.id}}</mat-card-subtitle>
        <mat-card-content>
            <div fxLayout="row wrap">
                <div fxFlex="100%">
                    <h2>Besten Dank für ihre Bestellung!</h2>
                    <hr>
                </div>
                <div *ngFor="let article of order.articles" class="basket-item" fxFlex="100%" fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex fxGrow>{{article.name}}</div>
                    <div fxFlex="80px" fxGrow="0" style="white-space: nowrap;text-align: right;">
                        CHF {{article.price | number:'1.2-2'}}</div>
                </div>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button color="accent" mat-raised-button routerLink="/">zur Startseite</button>
        </mat-card-footer>
    </mat-card>
</div>
