<mat-card *ngIf="article" [routerLink]="'/article/' + article.id">
    <mat-card-title>{{article.name}}</mat-card-title>
    <div class="img-warpper-4-3">
        <div class="img" style="background-image: url({{article.imageurl}})"></div>
    </div>
    <mat-card-content fxLayout="row" fxLayoutAlign="space-between center">
        <button (click)="addToCart(article.id, $event)" fxFlex fxGrow="0" mat-icon-button style="z-index: 999">
            <mat-icon>add_shopping_cart</mat-icon>
        </button>
        <h3 fxFlex fxGrow style="text-align: right; ">CHF <b>{{article.price | number:'1.2-2'}}</b></h3>
    </mat-card-content>
</mat-card>
