<div>
    <div>
        <hr>
        <h2 style="text-align: center">Was sich andere Kunden ansehen</h2>
    </div>
    <div class="padded-items-10" fxFill="0" fxLayout="row wrap" fxLayoutAlign="left">
        <ec-article-preview *ngFor="let article of articles" [article]="article" fxFlex="32%"></ec-article-preview>
    </div>
</div>
