/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/indigo-pink.css';

html, body, ec-root {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    height: 100vh;
    margin: 0;
    display: block;
}


.padded-items > * {
    margin: .5% .5% 0 0;
}

.padded-items-10 > * {
    margin: 1% 1% 0 0;
}

[ng-reflect-router-link] {
    cursor: pointer;
}

.fixed-width {
    max-width: 700px;
}

.img-warpper-4-3 {
    max-width: 100%;

    > .img {
        width: 100%;
        padding-bottom: 75%;
        background-size: contain;
        background-repeat: no-repeat;
        background-position: center;
    }
}

.mat-card-footer {
    padding: 10px;
    text-align: center;
}

hr {
    margin-top: 50px;
}
