<div class="article-detail-main" fxLayout="row" fxLayoutAlign="center">
    <mat-card *ngIf="article$ | async as article" fxFlex="666px" fxFlex.xs="99%">
        <mat-card-title>{{article.name}}</mat-card-title>
        <mat-card-content *ngIf="article.imageurl">
            <div class="img-warpper-4-3">
                <div class="img" style="background-image: url({{article.imageurl}})"></div>
            </div>
        </mat-card-content>
        <mat-card-content>
            <h3>CHF {{article.price | number:'1.2-2'}}</h3>
            <button (click)="addToCart(article)" class="add-to-cart" mat-raised-button>in Warenkorb</button>
        </mat-card-content>
        <mat-card-content>
            <h3>Beschreibung</h3>
            <p>{{article.description}}</p>
        </mat-card-content>
    </mat-card>
</div>
<ec-last-viewed-by-others></ec-last-viewed-by-others>
