<div class="article-detail-main padded-items" fxLayout="row wrap" fxLayoutAlign="center">
    <mat-card fxFlex="666px">
        <mat-card-title>Warenkorb</mat-card-title>
        <mat-card-content>
            <div fxLayout="row wrap">
                <div *ngFor="let article of articles$ | async" class="basket-item" fxFlex="100%" fxLayout="row"
                     fxLayoutAlign="space-between center">
                    <div fxFlex fxGrow>{{article.name}}</div>
                    <div fxFlex fxGrow="0">
                        <button (click)="removeArticle(article)" class="remove-article" mat-icon-button>
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    <div fxFlex="80px" fxGrow="0" style="white-space: nowrap;text-align: right;">
                        CHF {{article.price | number:'1.2-2'}}</div>
                </div>
                <div *ngIf="(articles$ | async).length <= 0">
                    Der Warenkorb ist leer
                </div>
            </div>

        </mat-card-content>
    </mat-card>
    <mat-card fxFlex="666px">
        <mat-card-content *ngIf="needsAddress">
            <h3>Adresse</h3>
            <div [formGroup]="userForm" fxLayout="row wrap" fxLayoutGap="2%">
                <mat-form-field fxFlex="100%">
                    <mat-label>Name</mat-label>
                    <input autocomplete="off" formControlName="fullname" matInput>
                </mat-form-field>
                <mat-form-field fxFlex="100%">
                    <mat-label>Strasse & Nr.</mat-label>
                    <input autocomplete="off" formControlName="address" matInput>
                </mat-form-field>
                <mat-form-field fxFlex="15%">
                    <mat-label>PLZ</mat-label>
                    <input autocomplete="off" formControlName="zipcode" matInput>
                </mat-form-field>
                <mat-form-field fxFlex="83%">
                    <mat-label>Ort</mat-label>
                    <input autocomplete="off" formControlName="city" matInput>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <button (click)="submitOrder()" [disabled]="!addressComplete && needsAddress" class="order-cart"
                    color="accent"
                    mat-raised-button>bestellen
            </button>
        </mat-card-footer>
    </mat-card>
</div>
