<div class="category-main" fxLayout="row wrap" fxLayoutAlign="center">
    <div *ngIf="category$ | async as category" class="padded-items-10" fxFlex="700px" fxFlex.xs="99%"
         fxLayout="row wrap"
         fxLayoutAlign="left">
        <mat-card fxFlex="98%">
            <mat-card-title>{{category.name}}</mat-card-title>
            <mat-card-subtitle>{{category.description}}</mat-card-subtitle>
        </mat-card>
        <ec-article-preview *ngFor="let article of category.articles" [article]="article" fxFlex="32%" fxFlex.xs="49%">
        </ec-article-preview>
    </div>
</div>
