<h2 mat-dialog-title>Login</h2>
<mat-dialog-content>
    Sie müssen zuerst eingelogt sein!
</mat-dialog-content>
<mat-dialog-actions *ngIf="data" fxLayout="row wrap" fxLayoutGap="2%">
    <div fxFlex="100%" fxLayout="row wrap" fxLayoutGap="2%">
        <mat-form-field fxFlex="100%">
            <mat-label>Email</mat-label>
            <input [(ngModel)]="data.email" matInput>
        </mat-form-field>
        <mat-form-field fxFlex="100%">
            <mat-label>Passwort</mat-label>
            <input [(ngModel)]="data.password" matInput type="password">
        </mat-form-field>
    </div>
    <div fxFlex="100%">
        <button [mat-dialog-close]="null" mat-button mat-dialog-close>Abbrechen</button>
        <button [mat-dialog-close]="data" cdkFocusInitial class="login" mat-button>Login</button>
    </div>
    <hr fxFlex="100%">
    <div fxFlex="100%">
        <button [mat-dialog-close]="null" class="to-register" mat-button routerLink="/register">registrieren</button>
    </div>
</mat-dialog-actions>
