<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <mat-icon (click)="sidenav.toggle()">menu</mat-icon>
        </button>
        <h2 [routerLink]="'/'" id="main-title">JEE Shop</h2>
        <span class="menu-spacer"></span>
        <span class="example-spacer" fxFlex="1 1 auto"></span>
        <button aria-label="Warenkorb" class="cart" mat-icon-button routerLink="/cart">
            <mat-icon>shopping_cart</mat-icon>
        </button>
        <button aria-label="Benutzerkonto" class="account_circle" mat-icon-button routerLink="/account">
            <mat-icon>account_circle</mat-icon>
        </button>
    </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
        <mat-nav-list *ngIf="categories$ | async as categories">
            <a [routerLink]="'/'" mat-list-item><b>Home</b></a>
            <a [routerLink]="'/account'" mat-list-item><b>Account</b></a>
            <a *ngFor="let category of categories" [routerLink]="'/category/' + category.id"
               mat-list-item>{{category.name}}</a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content style="height: calc(100vh - 64px)">
        <div fxFlex="100%" fxFlexFill fxLayout="column" fxLayoutAlign="top center">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
</mat-sidenav-container>
