<div class="category-main" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="padded-items-10" fxFlex="700px" fxLayout="row wrap" fxLayoutAlign="left">
        <mat-card fxFlex="98%">
            <mat-card-title fxLayout="row" fxLayoutGap="2%">
                <div fxFlex="80%">
                    {{userForm.controls.fullname.value}}
                </div>
                <div fxFlex="18%" style="text-align: right">
                    <button (click)="logout()" mat-raised-button>logout</button>
                </div>
            </mat-card-title>
            <mat-card-subtitle>{{userForm.controls.email.value}}</mat-card-subtitle>
            <mat-card-content>
                <div [formGroup]="userForm" fxLayout="row wrap" fxLayoutGap="2%">
                    <mat-form-field fxFlex="100%">
                        <mat-label>Name</mat-label>
                        <input autocomplete="off" formControlName="fullname" matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <mat-label>Strasse & Nr.</mat-label>
                        <input autocomplete="off" formControlName="address" matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex="15%">
                        <mat-label>PLZ</mat-label>
                        <input autocomplete="off" formControlName="zipcode" matInput>
                    </mat-form-field>
                    <mat-form-field fxFlex="83%">
                        <mat-label>Ort</mat-label>
                        <input autocomplete="off" formControlName="city" matInput>
                    </mat-form-field>
                </div>
                <button (click)="save()" class="save-user" color="accent" mat-raised-button>speichern</button>
            </mat-card-content>
        </mat-card>
        <mat-accordion fxFlex="98%">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bestellungen
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <mat-list *ngIf="orders">
                    <mat-list-item *ngFor="let order of orders" [routerLink]="'/order/' + order.id">Bestellung
                        #{{order.id}}</mat-list-item>
                </mat-list>
            </mat-expansion-panel>
        </mat-accordion>
        <mat-accordion fxFlex="98%">
            <mat-expansion-panel hideToggle>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Account löschen
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <p>
                    Achtung: Das Löschen des Accounts kann nicht rückgängig gemacht werden.
                    <br>
                    Alle Artikel im Warenkorb un Bestellungen werden verloren gehen.
                </p>
                <button (click)="deregister()" color="accent" mat-raised-button>Account löschen</button>
            </mat-expansion-panel>
        </mat-accordion>

    </div>
</div>
