<div class="category-main" fxLayout="row wrap" fxLayoutAlign="center">
    <div class="padded-items-10" fxFlex="700px" fxLayout="row wrap" fxLayoutAlign="left">
        <mat-card fxFlex="98%">
            <mat-card-title fxLayout="row" fxLayoutGap="2%">
                Registrierung
            </mat-card-title>
            <mat-card-content>
                <div [formGroup]="userForm" fxLayout="row wrap" fxLayoutGap="2%">
                    <mat-form-field fxFlex="100%">
                        <mat-label>Email</mat-label>
                        <input autocomplete="off" formControlName="email" matInput type="email">
                    </mat-form-field>
                    <mat-form-field fxFlex="100%">
                        <mat-label>Passwort</mat-label>
                        <input autocomplete="off" formControlName="password" matInput type="password">
                    </mat-form-field>
                </div>
                <button (click)="save()" class="register" color="accent" mat-raised-button>registrieren</button>
            </mat-card-content>
        </mat-card>
    </div>
</div>
